body {
    color: #000000;
    line-height: 2;
    font-size: 15px;
    font-family: "Poppins",
    sans-serif;
    font-weight: 400;
    min-width: 320px;
    position: relative;
    overflow-x: hidden;
    background: linear-gradient(to right, #edf6ff 0%, #edf6ff 60%, 
    white 60%);
    background-position: center;
}

.container {
    min-height: 100vh;
}

.page-wrapper {
    width: 100%;
    max-width: 780px;
    min-height: 100vh;
    background-color: #edf6ff;
}

/* header */
header {
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    max-width: 40%;
    width: 100%;
    z-index: 1;
    overflow: hidden;
    padding: 85px 100px 85px 200px;
}

.nav-count {
    margin-bottom: 100px;
    font-weight: bold;
}

.now {
    color:#106bad;
}

.slash {
    padding: 0 12px;
}

.nav-title {
    box-sizing: border-box;
    padding-bottom: 5px;
    margin-bottom: 50px;
    border-bottom: 2px solid #2c2f30;
    display: inline-block;
    font-weight: bold;
    letter-spacing: 5px;
}

.nav-menu ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.nav-menu li {
    margin-bottom: 10px;
}

.nav-menu li:last-child {
    margin-bottom: 0;
}

.nav-menu a:hover {
    color:#106bad;
}
/* !header */


/* home */
#home {
    padding: 80px 0;
}
.content-wrap {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
}

h1 {
    position: absolute;
    left: 0;
    font-size: 100px;
    line-height: 120%;
}

h1 span {
    font-size: 100px;
    color:#106bad;
}

.my-photo {
    margin-right: -100px;
    width: 540px;
    height: calc(100vh - 170px);
    background: #dee1e4;
    background-image: url("../img/main_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.scroll-down {
    position: absolute;
    bottom: 0;
    left: 0;
}

.scroll-down a {
    display: block;
    transition: all 0.3s ease;
    width: 50px;
    height: 50px;
    background: #2c2f30;
    animation-name: scroll;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
}

@keyframes scroll {
    0% {
        opacity: 1;
        transform: translateY(-50px);
    }

    70% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateY(0);
    }

}
/* !home */

/* about */
#about {
    padding: 50px 0;
    min-height: 100vh;
}

.about-img {
    width: calc(100% + 60px);
    min-height: 320px;
    background:lightslategray;
}

.about-text {
    margin-top: 50px;
}

.text-wrap {
    max-width: 670px;
}

.text-wrap p {
    margin-bottom: 20px;
    font-weight: 300;
    letter-spacing: -0.5px;
} 
/* !about */